//styling for the general structure of the site
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

button {
  background-color: white;
  padding: 10px 20px;
  color: black;
  border: none;
  border-radius: 5px;
  letter-spacing: 2px;
  cursor: pointer;
}
