//styling for the footer on each page
footer {
  width: 95%;
  align-items: center;
  display: flex;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 20px 0;

  .links {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
    font-size: 15px;
    flex-wrap: wrap;

    a {
      text-decoration: none;
      color: $site-purple;
    }

    a:hover {
      color: $site-orange;
    }
  }

  .socials {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    padding-left: 140px;
    padding-right: 30px;

    img {
      width: 16px;
      height: 16px;
      filter: invert(64%) sepia(9%) saturate(1344%) hue-rotate(195deg)
        brightness(88%) contrast(94%);
    }

    img:hover {
      filter: invert(63%) sepia(37%) saturate(648%) hue-rotate(337deg)
        brightness(87%) contrast(86%);
    }
  }
}
