//styling for the music page
.music {
  padding-top: 100px;
  padding-bottom: 80px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 90%;

  .album {
    display: flex;
    align-items: center;
    margin: 50px 0;

    .left {
      width: 55%;
      display: flex;

      img {
        width: 500px;
        height: 500px;
      }

      .triangle {
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 150px 150px;
        border-color: transparent transparent #525364 transparent;
        margin-top: 370px;
        margin-left: -130px;
      }
    }

    .right {
      width: 45%;
      color: $site-peach;

      p {
        border-bottom: 2px solid $site-peach;
        width: 130px;
        padding-bottom: 10px;
      }

      h2 {
        font-size: 70px;
      }
    }
  }

  .videos {
    margin: 0 auto;
    padding: 30px;
  }

  #info {
    margin: 0 auto;
    padding: 40px;
    width: 70%;
    color: $site-orange;
    text-align: justify;

    span {
      text-align: right;
      float: right;
    }
  }
}
